/* This is required by tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
	font-family: "Gallient";
	src: url("/fonts/GallientRegular.woff") format("woff"), 
	url("/fonts/GallientRegular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Gallient', sans-serif;
} */

/* Because of next.js server/client component differences
this only shows us on the client component, so we had to
override react-vertical-timelines default styling to make
it work.
*/
html {
	--line-color: #e5e7eb;
}

html.dark {
	--line-color: rgba(255, 255, 255, 0.2);
}

/* custom taildwind class for DRY */
.borderBlack {
	@apply border border-black/10;
}
